@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  background-image: url(../img/bg-estrela.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 1;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #0000004b;
  border-radius: 8px;
  border: 2px solid #A020F0;
  box-shadow: 0 0 5px #cc8af5, 0 0 10px #cc8af5, 0 0 20px #cc8af5;
  width: calc((100% / 5) - 16px); /* 5 cards por linha com gap */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s ease;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #f3e0ff;
  text-shadow:
    0 0 5px #A020F0,
    0 0 10px #A020F0,
    0 0 20px #A020F0,
    0 0 40px #A020F0;
  font-weight: bold;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
}

input[type="text"],
input[type="date"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: vertical;
}

.imagem {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 4px;
}


.button{
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.btn-salvar {
  background-color: #A020F0;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-salvar:hover {
  background-color: #5b0f8a;
}

.btn-voltar {
  background-color: #A020F0;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-voltar:hover {
  background-color: #5b0f8a;
}

.mensagem-sucesso {
  background-color: #5b0f8a;
  color: #ffff;
  font-weight: 300;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #370158;
  border-radius: 4px;
  text-align: center;
}
