@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(../img/circo-alegre.png);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease, transform 1.5s ease;
    overflow: hidden;
}

body.fade-in {
    opacity: 1;
    transform: translateY(0);
}

main {
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.105);
    z-index: 1;
}

.container-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    z-index: 2;  
}

.formulario {
    background: #29102599;
    border: 2px solid #A020F0;
    box-shadow: 0 0 5px #A020F0, 0 0 10px #A020F0, 0 0 20px #A020F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 35px;
    padding-inline: 80px;
    margin: 20px;
    gap: 20px;
}

h1 {
    font-size: 25px;
    color: #fff;
}

.icon {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 300px;
}

button.sair .icon {
    right: 200px !important; 
}

button {
    width: 300px;
    height: 45px;
    background-color: #2b092b20;
    border: 2px solid #A020F0;
    box-shadow: 0 0 5px #A020F0, 0 0 10px #A020F0, 0 0 20px #A020F0;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

button.sair {
    background: #A020F0;
    width: 200px;
    
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}