@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(../img/circo.png);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

body.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.container-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    z-index: 2;  
}

.formulario {
    background: #ff149132;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    color: #333;
    gap: 20px;
    
}

h1 {
    font-size: 25px;
    color: #fff;
}

.icon {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 300px;
}

button.sair .icon {
    right: 160px !important; 
}

button {
    width: 350px;
    height: 45px;
   background: linear-gradient(to right, #F13FA5, #e97aae);
    border-color: #F13FA5;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

button.sair {
    background: linear-gradient(to right, #E70E2F, #EC1A8B);
    width: 200px;
    
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}